---
export const prerender = true;

import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

function getImageUrl(post) {
  if (post.data.image) {
    return `/images/posts-images/${post.slug}/${post.data.image}`;
  }
  return null;
}
---

<Layout title={post.data.title}>
  <article class="blog-post">
    <h1>{post.data.title}</h1>
    <p class="date">{post.data.pubDate.toLocaleDateString()}</p>
    {post.data.image && <img src={getImageUrl(post)} alt={post.data.title} />}
    <Content />
    <div class="categories">
      {post.data.categories.map((category) => (
        <span class="category">{category}</span>
      ))}
    </div>
  </article>
</Layout>