---
export const prerender = true;

import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

// Función para obtener la URL de la imagen
function getImageUrl(post) {
  // Si el campo 'post.data.image' ya contiene una ruta completa, úsala tal cual
  if (post.data.image && post.data.image.startsWith('/images/posts-images/')) {
    return post.data.image;
  }
  
  // Si no, genera la ruta de la imagen con el slug
  if (post.data.image) {
    return `/images/posts-images/${post.slug}/${post.data.image}`;
  }
  
  return null;
}
---

<Layout title={post.data.title}>
  <article class="blog-post">
    <h1>{post.data.title}</h1>
    <p class="date">{post.data.pubDate.toLocaleDateString()}</p>
    {post.data.image && <img src={getImageUrl(post)} alt={post.data.title} />}
    <Content />
    <div class="categories">
      {post.data.categories.map((category) => (
        <span class="category">{category}</span>
      ))}
    </div>
  </article>

  <style>
    /* Colores globales definidos en index.astro */
    .blog-post {
      background: var(--gradient-secondary);
      color: var(--color-text);
      padding: 1.5rem;
      margin: 0 auto;
      max-width: 680px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    /* Estilo del título del post */
    .blog-post h1 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-accent);
      margin-bottom: 1rem;
      text-align: center;
    }
  
    /* Estilo de la fecha */
    .date {
      font-size: 0.9rem;
      color: #d1d1d1;  /* Color gris suave para contraste */
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    /* Estilo de la imagen del post */
    .blog-post img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      object-fit: cover;
      max-height: 400px;
    }
  
    /* Estilo del contenido */
    .blog-post .content {
      font-size: 1rem;
      line-height: 1.6;
      text-align: justify;
    }
  
    /* Estilo de las categorías */
    .categories {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
    }
  
    .category {
      background-color: var(--color-accent);
      color: var(--color-text);
      padding: 0.5rem 1rem;
      border-radius: 12px;
      font-size: 0.8rem;
      font-weight: bold;
    }
  
    /* Estilo adaptable para móviles */
    @media (max-width: 600px) {
      .blog-post h1 {
        font-size: 1.75rem;
      }
  
      .blog-post {
        padding: 1rem;
      }
  
      .categories {
        margin-top: 1rem;
      }
    }
  </style>
</Layout>
